body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f6f9;
}

h1 {
  color: #2c3e50;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 95%;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
}

th {
  background-color: #1abc9c;
  color: white;
}

td {
  background-color: #ffffff;
}
